body {
    font-family: Arial, sans-serif;
    background: url('imagenes/fondo_auto.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#productos, #carrito {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.producto {
    margin: 10px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
}

.producto img {
    max-width: 100px;
    border-radius: 10px;
}

.producto p {
    margin-bottom: 10px;
}

.producto button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #555;
}

#carrito ul {
    list-style-type: none;
    padding: 0;
}

#carrito li {
    margin-bottom: 10px;
}
